/*VARIÁVEIS*/
:root {
    --white: #FFF;
    --black: #000;
    --magenta: #FF2A6D;
    --blue-suave: #05D9E8;
    --blue-dark: #01012B;
    --blue-suave-dark: #005678;
    --blue-white: #D1F7FF;
}

/*CONFIG GLOBAL*/
h1 {
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 20px;
}

/*CONFIG HEADER*/
#menu-list a:hover, #menu-list .button-activate a {
    color: var(--blue-suave);
    border-bottom: 1px solid var(--blue-suave);
}

/*CONFIG MAIN*/
#main-download {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: linear-gradient(to right, var(--blue-suave), var(--blue-suave-dark));
    display: flex;
    align-items: center;
}

.main-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    padding: 70px 0px;
}

.main-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30;
}

.text-main p {
    font: 100 20px/30px 'Poppins', sans-serif;
    color: var(--black);
}

.main-right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url(/assets/img/celular-app.png) no-repeat center;
    background-size: contain;
    height: 550px;
}

.buttons-main {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

    .buttons-main a {
        text-decoration: none;
        background-color: #000;
        border: none;
        border-radius: 10px;
        color: #fff;
        padding: 15px 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        transition: all 0.5s;
        margin-bottom: 15px;
    }

        .buttons-main a:hover {
            transform: scale(1.1);
        }

.android, .ios {
    font: 700 20px 'Poppins', sans-serif;
    color: var(--black);
    margin-right: 5px;
}

    .android img, .ios img {
        width: 23px;
        margin: 0px 2px;
    }

.estrela-cult {
    opacity: 50%;
}

@media (max-width:425px) {  
    h1 {
        font-size: 30px;
    }

    #main-download {
        height: auto;
    }

    .main-area {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 70px 30px;
    }
    
    .main-left {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .text-main p {
        font-size: 16px;
    }
    
    .main-right {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 550px;
    }
    
    .buttons-main {
        display: flex;
        gap: 30px;
        margin-top: 30px;
    }
    
        .buttons-main a {
            padding: 10px 20px;
            font-size: 16px;
        }
    
    .android, .ios {
        font-size: 16px;
    }
    
        .android img, .ios img {
            width: 16px;
        }
}