/*VARIÁVEIS*/
:root {
    --white: #FFF;
    --black: #000;
    --magenta: #FF2A6D;
    --blue-suave: #05D9E8;
    --blue-dark: #01012B;
    --blue-suave-dark: #005678;
    --blue-white: #D1F7FF;
}

/*CONFIG GLOBAL*/
body {
    background-image: linear-gradient(to right, var(--black), var(--blue-suave-dark));
}

h2 {
    font: 700 24px 'Poppins', sans-serif;
    color: #D1F7FF;
    margin: 30px 0px;
}

p {
    font: normal 18px/25px 'Poppins', sans-serif;
    text-align: justify;
    color: #fff;
}

a {
    text-decoration: none;
    font: normal 18px 'Poppins', sans-serif;
    color: #05D9E8;
}

h3 {
    font: 700 20px 'Poppins', sans-serif;
    color: #D1F7FF;
    margin: 10px 0px;
}

li {
    font: normal 16px 'Poppins', sans-serif;
    color: #fff;
}

/*CONFIG CONTAINER*/
.org-container {
    width: 100%;  
    margin: auto;
    padding: 50px; 
}



@media (max-width:576px) {
    /*CONFIG SECTION HEADER*/
    .org-container {
        padding: 50px 30px;
        max-width: 100%;
    }
}