/*VARIÁVEIS*/
:root {
    --white: #FFF;
    --black: #000;
    --magenta: #FF2A6D;
    --blue-suave: #05D9E8;
    --blue-dark: #01012B;
    --blue-suave-dark: #005678;
    --blue-white: #D1F7FF;
}

/*CONFIG BODY*/
body {
    background-image: linear-gradient(to right, var(--black), var(--blue-suave-dark));
}

.org-container {
    margin: auto;
    padding: 50px;
    width: 100%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #D1F7FF;
    margin: 30px 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #05D9E8;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #D1F7FF;
    margin: 10px 0px;
}

li {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

@media (max-width:576px) {
    /*CONFIG SECTION HEADER*/
    .org-container {
        padding: 50px 30px;
        max-width: 100%;
    }
}