/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*VARIÁVEIS*/
:root {
    --white: #FFF;
    --black: #000;
    --magenta: #FF2A6D;
    --blue-suave: #05D9E8;
    --blue-dark: #01012B;
    --blue-suave-dark: #005678;
    --blue-white: #D1F7FF;
}


/*CONFIG GLOBAL*/
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #333;
}

body::-webkit-scrollbar-thumb {
    background-color: #05D9E8;
    border-radius: 5px;
}

.container {
    width: 1140px;
}

h1 {
    font: bold 96px 'Poppins', sans-serif;
    color: var(--white);
}

    h1 span {
        color: #05D9E8;
    }


/*CONFIG HEADER*/
#header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

    .logo img {
        width: 64px;
        height: 64px;
    }

#menu-list ul, #menu-list li {
    list-style: none;
    display: inline-flex;
    padding: 0px 24px;
}

#menu-list a {
    text-decoration: none;
    font: normal 18px 'Poppins', sans-serif;
    color: var(--black);
    transition: all 0.5s;
    padding: 10px;
    border-bottom: 1px solid transparent;
}

    #menu-list a:hover {
        color: var(--blue-suave);
        border-bottom: 1px solid var(--blue-suave);
    }


/*CONFIG MENU*/
#menu-toggle {
    width: 24px;
    height: 32px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.line1, .line2, .line3 {
    height: 3px;
    width: 30px;
    background-color: #000;
    transition: all .5s;
    position: relative;
}

/*CONFIG BANNER PCL*/
#banner-pcl {
    background: url(/assets/img/background-pcl.png) center;
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
}

.filter-banner {
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100vh - 80px);
    width: 100%;
    position: absolute;
}

.subtitle-banner h2 {
    font: bold 50px 'Poppins', sans-serif;
    color: #fff;
}


/*CONFIG SECTION NEWS*/
#section-news {
    display: flex;
    justify-content: center;
    padding: 70px 0px;
}

.area-news {
    display: flex;
    width: 100%;
    height: 500px;
}

.news-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 33px;
    background-color: var(--blue-suave-dark);
}

.news-right {
    flex: 2;
    display: flex;
    background-color: #FF2A6D;
}

    .news-right img {
        flex: 2;
    }

.title-news spam {
    font: 700 25px 'Poppins', sans-serif;
    color: #fff;
}

.title-news h3 {
    font: 700 30px 'Poppins', sans-serif;
    color: #fff;
    margin-top: 20px;
}

.description-news p {
    font: normal 16px 'Poppins', sans-serif;
    color: #fff;
}

.button-news-left button{
    margin-top: 40px;
    padding: 10px 30px;
    border: 2px solid var(--blue-suave);
    border-radius: 2px;
    position: relative;
    z-index: 999;
    overflow: hidden;
    background-color: transparent;
    color: var(--blue-suave);
    font: 700 18px 'Poppins', sans-serif;
    transition: all .3s;
    cursor: pointer;
}

    .button-news-left button::before{
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: var(--blue-suave);
        transition: all .5s ease;
        display: block;
        z-index: -1;
    }

        .button-news-left button:hover::before {
            width: 100%;
        }
       
        .button-news-left button:hover {
            color: var(--blue-suave-dark);
        } 

/*CONFIG SECTION NEWS*/
#section-future {
    background-image: linear-gradient(to right, var(--black), var(--blue-suave-dark));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
}

.future-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.future-description h4 {
    font: 700 30px 'Poppins', sans-serif;
    color: var(--white);
}

.future-description p {
    font: 100 18px 'Poppins';
    color: var(--white);
    margin-top: 20px;
}

.future-galeria {
    max-width: 1140px;
    height: 150px;
    display: flex;
}

.img-future {
    flex: 1;
}

    .img-future img {
        width: 100%;
        height: 100%;
        opacity: 70%;
    } 

        .img-future img:hover {
            opacity: 100%;
        }   


/*CONFIG SECTION BLOG*/
#section-blog {
    padding: 70px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.area1 {
    background-color: var(--blue-white);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 30px;
    font: normal 36px 'Poppins', sans-serif;
    color: var(--black);
    opacity: 70%;
    transition: all 0.5s;
}

.area2 {
    background: url(/assets/img/placa-tattoo.jpg) center;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 66px;
    opacity: 70%;
    transition: all 0.5s;
}

.area3 {
    background: url(/assets/img/model-tattoo.jpg) center;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 480px;
    opacity: 70%;
    transition: all 0.5s;
}

.area4 {
    background-color: var(--blue-suave-dark);
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    padding: 30px;
    font: normal 18px 'Poppins', sans-serif;
    color: var(--white);
    display: flex;
    align-items: center;
    opacity: 70%;
    transition: all 0.5s;
}

    .area1:hover {
        transform: scale(1.1);
        opacity: 100%;
    }

    .area2:hover {
        transform: scale(1.1);
        opacity: 100%;
    }   

    .area3:hover {
        transform: scale(1.1);
        opacity: 100%;
    }

    .area4:hover {
        transform: scale(1.1);
        opacity: 100%;
    }

.blog-button {
    display: flex;
    justify-content: center;
}

    .blog-button button{
        margin-top: 40px;
        padding: 10px 30px;
        border: 2px solid var(--blue-suave);
        border-radius: 2px;
        position: relative;
        z-index: 999;
        overflow: hidden;
        background-color: transparent;
        color: var(--blue-suave);
        font: 700 18px 'Poppins', sans-serif;
        transition: all .3s;
        cursor: pointer;
    }

        .blog-button button::before{
            content: '';
            width: 0;
            height: 300%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background-color: var(--blue-suave);
            transition: all .5s ease;
            display: block;
            z-index: -1;
        }

            .blog-button button:hover::before {
                width: 100%;
            }
       
            .blog-button button:hover {
                color: #fff;
            }  


/*CONFIG SECTION INFO*/
#section-info {
    padding: 70px 0px;
    background-color: var(--blue-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/*CONFIG SECTION INFO BOXS*/
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

    .box img {
        width: 60px;
        height: 60px;
    }

    .box h4 {
        color: var(--white);
        font: 700 26px 'Poppins', sans-serif;
    }

    .box p {
        color: var(--blue-white);
        font: normal 18px 'Poppins', sans-serif;
        text-align: center;
    }


/*CONFIG SECTION SECTION MINI GALERIA*/
#section-mini-galeria {
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-galeria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.text-mini-galeria {
    text-align: center;
}

    .text-mini-galeria h4 {
        font: 700 36px 'Poopins', sans-serif;
        color: var(--magenta);
    }

    .text-mini-galeria p {
        font: normal 16px 'Poppins', sans-serif;
        color: var(--black);
        margin-top: 40px;
    }

.images-mini-galeria {
    width: 100%;
    height: 420px;
    display: flex;
    gap: 30px;
}

.galeria-img1, .galeria-img2, .galeria-img3 {
    flex: 1;
}

    .galeria-img1 img, .galeria-img2 img, .galeria-img3 img {
        width: 100%;
        height: 100%;
    }   


/*CONFIG SECTION FRASE*/ 
#section-frase {
    background-color: var(--black);
    color: white;
    display: flex;
    justify-content: center;
}

.frase-container {
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.texto p {
    color: var(--white);
    font: normal 24px 'Poppins', sans-serif;
    text-align: justify;
}

.autor {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    margin-top: 20px;
}


/*SECTION TATTOO TRIBAL*/
#section-tribal {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.area-tribal-conteudo{
    display: flex;
    width: 100%;
    height: 500px;
}

.tribal-left {
    flex: 2;
    display: flex;
}

    .tribal-left img {
        flex: 2;
    }

.tribal-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 33px;
    background-color: var(--blue-suave-dark);
}

    .texto-right h4 {
        color: var(--white);
        font: 700 30px 'Poppins', sans-serif;
    }

    .texto-right p {
        color: #FFF;
        font: normal 16px 'Poppins', sans-serif;
        margin-top: 30px;
    }

.button-right button{
    margin-top: 40px;
    padding: 10px 30px;
    border: 2px solid var(--blue-suave);
    border-radius: 2px;
    position: relative;
    z-index: 999;
    overflow: hidden;
    background-color: transparent;
    color: var(--blue-suave);
    font: 700 18px 'Poppins', sans-serif;
    transition: all .3s;
    cursor: pointer;
}

    .button-right button::before{
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: var(--blue-suave);
        transition: all .5s ease;
        display: block;
        z-index: -1;
    }

        .button-right button:hover::before {
            width: 100%;
        }
       
        .button-right button:hover {
            color: var(--blue-suave-dark);
        }    

        
/*CONFIG FOOTER CONTAINER*/
#footer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, var(--black), var(--blue-suave-dark));
}

.social-footer {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

    .social-footer a {
        text-decoration: none;
        color: var(--blue-suave);
        font-size: 40px;
        transition: all 0.5s;
    }

        .social-footer a:hover {
            transform: scale(1.2);
        }

.info-footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 70px;
}

.caixa1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.logo-footer {
    max-width: 120px;
    height: 70px;
}

    .logo-footer img {
        width: 100%;
    }

.text-footer p{
    color: var(--white);
    font: 700 16px 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.text-footer a {
    color: var(--blue-suave);
    text-decoration: none;
    font: 700 16px 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.caixa2 {
    flex: 1;
}

    .caixa2 h4{
        color: var(--blue-white);
        text-decoration: none;
        font: 700 18px 'Poppins', sans-serif;
        margin-bottom: 20px;
    }

    .caixa2 p {
        color: var(--white);
        text-decoration: none;
        font: 700 16px 'Poppins', sans-serif;
        margin-bottom: 20px;
        text-align: justify;
    }
    
.caixa3 {
    flex: 1;
}

    .caixa3 h4{
        color: var(--blue-white);
        text-decoration: none;
        font: 700 18px 'Poppins', sans-serif;
        margin-bottom: 20px;
    }

    .caixa3 h5 {
        color: var(--white);
        text-decoration: none;
        font: 700 16px 'Poppins', sans-serif;
        text-align: justify;
        margin-bottom: 5px;
    }

.caixa3-endereco {
    margin-bottom: 20px;
}

.linha {
    width: 100%;
    height: 2px;
    background: var(--blue-suave);
}

.direitos-footer p{
    color: var(--blue-suave);
    padding: 20px 0px;
    font: 100 16px 'Poppins', sans-serif;
}

/*BOTÃO ANCORA SETA*/
#botao-ancora {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    display: none;
    background-color: var(--blue-suave);
    padding: 8px;
    border-radius: 50%;
    transition: all 0.5s;
    opacity: 0;
}

    #botao-ancora button {
        outline: none;
        background-color: transparent;
        border: none;
        padding: 5px;
    }

    #botao-ancora img {
        width: 12px;
        height: 12px;
    }


.show {
    right: 0 !important;
}  

@media (max-width:425px) {
    /*CONFIG SECTION HEADER*/
    #header {
        padding: 0px 30px;
    }

    #menu-list {
        position: absolute;
        z-index: 8;
        right: -500px;
        top: 0;
        height: calc(100vh - 80px);
        margin-top: 80px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all ease .3s;
    }

    #menu-list ul, #menu-list li {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    #menu-list ul a {
        color: #fff;
        padding: 10px 30px;
    }

    #menu-toggle {
        display: inline-flex;
        position: absolute;
        z-index: 9;
        right: 0;
        margin-right: 30px;
        gap: 5px;
    }

    /*CONFIG SECTION BANNER PRINCIPAL*/
    .filter-banner {
        padding: 0px 30px;
    }

    .title-banner h1 {
        font-size: 49px;
    }
    
    .subtitle-banner h2 {
        font-size: 25px;
    }


    /*CONFIG SECTION NEWS*/
    #section-news {
        padding: 0px;
    }
    
    .area-news {
        display: flex;
        flex-direction: column;
        height: auto;
        max-width: 425px;
    }
    
    .news-left {
        padding: 30px;
    }
    
    .news-right {
        flex: 2;
    }
    
        .news-right img {
            width: 425px;
        }
    
    .title-news spam {
        font: 700 25px 'Poppins', sans-serif;
        color: #fff;
    }
    
    .title-news h3 {
        font: 700 30px 'Poppins', sans-serif;
        color: #fff;
        margin-top: 20px;
    }
    
    .description-news p {
        font: normal 16px 'Poppins', sans-serif;
        color: #fff;
    }

    .button-news-left {
        text-align: center;
    }

    .button-news-left button {
        display: inline;
        width: 100%;
    }
    
    .button-news-left button::before{
        height: 700%;
    }

    /*CONFIG SECTION FUTURE*/
    .future-container {
        padding: 0px 30px;
    }
    
    .future-description h4 {
        font-size: 24px;
    }
    
    .future-description p {
        font-size: 16px;
    }
    
    .future-galeria {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        justify-content: space-between;
    }
    
    .img-future {
        display: flex;
        flex: 0;
    }

        .img-future img {
            width: 150px;
        } 

    /*CONFIG SECTION BLOG*/
    .blog-container {
        padding: 0px 30px;
    }
    
    .blog-news {
        grid-template-columns: 1fr;
        gap: 25px;
    }
    
    .area1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .area2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .area3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        height: 400px;
    }
    
    .area4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .blog-button button{
        display: inline;
        width: 100%;
    }

        .blog-button button::before{
            height: 700%;
        }

    /*CONFIG SECTION INFO*/
    .info-container {
        flex-direction: column;
        gap: 80px;
        padding: 0px 30px;
    }
    
    .box img {
        width: 50px;
        height: 50px;
    }
    
    .box h4 {
        font-size: 30px;
    }
    
    .box p {
        font-size: 16px;
    }


    /*CONFIG SECTION MINI GALERIA*/
    .mini-galeria-container {
        padding: 0px 30px;
    }
    
    .text-mini-galeria {
        text-align: center;
    }
    
    .images-mini-galeria {
        height: auto;
        flex-direction: column;
    }
    
    .galeria-img1, .galeria-img2, .galeria-img3 {
        flex: 1;
    }
    
    .galeria-img1 img, .galeria-img2 img, .galeria-img3 img {
        width: 100%;
        height: 400px;
    }


    /*CONFIG SECTION TEXTO*/
    .frase-container {
        padding: 70px 30px;
    }
    
    .texto p {
        text-align: left;
    }
    

    /*CONFIG SECTION TRIBAL*/
    #section-tribal {
        padding: 0px;
    }
    
    .area-tribal-conteudo{
        flex-direction: column;
        height: auto;
    }
    
    .tribal-left img {
        width: 100%;
        height: 100%;
    }
    
    .texto-right h4 {
        font-size: 36px;
    }

    .button-right {
        text-align: center;
    }

    .button-right button{
        display: inline;
        width: 100%;
    }
    
        .button-right button::before{
            height: 700%;
        }


    /*CONFIG FOOTER CONTAINER*/
    .social-footer {
        padding: 70px 30px;
    }
    
    .info-footer {
        flex-direction: column;
        gap: 40px;
        padding: 0px 30px;
    }
    
    .direitos-footer {
        padding: 70px 30px 0px 30px;
    }


    /*CONFIG BOTÃO ANCORA*/
    #botao-ancora {
        right: 30px;
        bottom: 30px;
    }
}